.appBar {
    background-color: #bdbdbd !important;
    height: 70px;
    text-align: center;
}

.title {
    flex-grow: 1;
    font-family: Georgia !important;
    color: black;
}

.logo {
    margin-top: 55px;
}

.hamburger {
    margin-bottom: 7px !important;
}